<h1>View Test</h1>
<!--
add a form where the action is /message, cause this is the route of the POST route
-->
{{email}}
<form action="/" method="post">
    <input type="email" name="email">
    <button type="submit">Submit</button>
</form>