<div class="col-md-8 col-md-offset-2">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input
                    type="text"
                    id="firstname"
                    class="form-control"
                    formControlName="firstname">
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
                    type="text"
                    id="lastname"
                    class="form-control"
                    formControlName="lastname">
        </div>

        <div class="form-group">
            <label for="email">Mail</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
            <span *ngIf="myForm.hasError('email', 'email') && myForm.get('email').touched">
                Please enter a valid email.
            </span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
<!--
            <span *ngIf="myForm.hasError('minLength', 'password') && myForm.get('password')">The password must be at least 8 characters!</span>
-->
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>
